$kasa-primary: #ff6060;
$kasa-bg-light: #f7f7f7;
$transition: 0.3s ease;

// ----- Container -----
.collapse {
  width: 100%;
  margin: 16px 0;
  border-radius: 8px;
  overflow: hidden;
}

// ----- Header  -----
.collapse__button {
  all: unset; 
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  padding: 12px 16px;

  font-weight: 600;
  font-size: 18px;
  color: #fff;

  background-color: $kasa-primary;
  cursor: pointer;

  &:focus-visible {
    outline: 3px solid black;
    outline-offset: 2px;
  }
}

.collapse__title {
  margin: 0;
}

// ----- Chevron -----
.collapse__chevron {
  transition: transform $transition;
  flex-shrink: 0;
}

.collapse__chevron.is-open {
  transform: rotate(180deg);
}

// ----- Content -----
.collapse__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  background-color: $kasa-bg-light;
  transition: max-height $transition, opacity $transition;
}

.collapse__content.is-open {
  max-height: 800px;
  opacity: 1;
}

.collapse__inner {
  padding: 16px;
  font-size: 16px;
  line-height: 1.4;
  color: #000;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li + li {
      margin-top: 4px;
    }
  }
}

// ----- Responsive -----
@media (max-width: 768px) {
  .collapse__button {
    font-size: 16px;
    padding: 10px 14px;
    width: 90%;

  }
  

  .collapse__inner {
    font-size: 14px;
    padding: 12px;
  }
}
